.priceFilter{
    width: 100%;
}
.button{
    background-color: var(--green);
    width: 100%;
    color: var(--white);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.pig{
    transition: all .3s ease-in-out;
}
.button:hover .pig{
    transform: scale(1.1);
    color: gold;
}