.picture{
    height: 150px;
    width: 150px;
    border-radius: 500px;
}
.card{
    height: 340px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    border-radius: 20px;
}